body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.calendar-section {
  text-align: center;
  padding: 4rem 0;
}

.calendar-section iframe {
    width: 100%;
    max-width: 800px;
    height: 400px;
}

/* --- Responsividade (Media Queries) --- */
@media (min-width: 769px) {
  .calendar-section iframe {
    height: 600px;
  }
}